@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Inconsolata&family=Kanit&family=Silkscreen&display=swap');

.main {
  background: transparent;
  overflow: auto;
  overflow-x: hidden;
  /* background: linear-gradient(
    90deg,
    rgba(123, 45, 92, 1) 0%,
    rgba(199, 55, 92, 1) 35%,
    rgba(223, 124, 78, 1) 65%,
    rgba(123, 99, 122, 1) 100%
    ); */
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  border-radius: 10px;
  z-index: 1;

  justify-content: center;
  margin: 0 auto;
}

.projects-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-box {
  height: auto;
  margin: 0 20px;
  padding: 0 20px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Gemunu Libre';
}

.project-title {
  width: 600px;
  font-size: 4rem;
  font-family: 'Silkscreen';
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(25);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
