@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Inconsolata&family=Kanit&family=Silkscreen&display=swap');

.main {
  background: transparent;
  overflow: auto;
  overflow-x: hidden;
  /* background: linear-gradient(
    90deg,
    rgba(123, 45, 92, 1) 0%,
    rgba(199, 55, 92, 1) 35%,
    rgba(223, 124, 78, 1) 65%,
    rgba(123, 99, 122, 1) 100%
    ); */
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px; */
  border-radius: 10px;
  z-index: 1;

  justify-content: center;
  margin: 0 auto;
}

.projects-wrap {
  /* height: auto;
  width: auto; */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 80px; */
}

.project-box {
  height: auto;
  /* width: 500px; */
  /* background-color: aqua; */
  margin: 0 20px;
  padding: 0 20px;
}

.projects {
  /* width: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Gemunu Libre';
}

.project-title {
  font-size: 6rem;
  font-family: 'Silkscreen';
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  
}
/* 
a man with dark hair sitting on the moon with a laptop in his lap and a cat on his shoulder

a cyberpunk cat with a laptop writing code that digitally renders the environment around him */
