.App {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(123, 45, 92, 1) 0%,
    rgba(199, 55, 92, 1) 45%,
    rgba(223, 124, 78, 1) 100%,
    rgba(240, 99, 122, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
