.App {
  background: linear-gradient(
    90deg,
    rgba(123, 45, 92, 1) 0%,
    rgba(199, 55, 92, 1) 35%,
    rgba(223, 124, 78, 1) 65%,
    rgba(123, 99, 122, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
